.ipynb_checkpoints
*.pyc
.mypy_cache
.pytest_cache
/htmlcov
/dist
/cardioception.egg-info
/build
docs/source/auto_examples
docs/source/generated
docs/source/api
docs/build
docs/auto_examples
.Rproj.user
