# Add README, LICENSE and requirements
include README.md
include LICENSE
include requirements.txt

# Add datasets files
include cardioception/HeartRateDiscrimination/Images/*
include cardioception/HeartRateDiscrimination/Sounds/*
include cardioception/HeartBeatCounting/Images/*
include cardioception/HeartBeatCounting/Sounds/*