-e .
pymc>=5.9.0
pydata-sphinx-theme>=0.13.3
sphinx-bootstrap-theme>=0.8.1
sphinxcontrib-bibtex>=2.4.2
myst-nb>=0.16.0
sphinx==5.3.0
numpydoc>=1.4.0
myst-parser
bokeh==2.4.3
graphviz
metadpy>=0.0.1
watermark